.topLine {
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: 200px;
    }
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 13px;
    width: 100%;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
}

.menu {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
        gap: 70px;
        position: relative;
    }
}

.mobileMenu {
    z-index: 2;
    position: absolute;
    top: 50%;
    right: -1000%;
    opacity: 0;
    background: #1b1b1b;
    color: #fff;
    padding: 40px 24px;
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: opacity 0.3s 0.01s ease-out;
}

.open {
    right: 35%;
    opacity: 1;

    @media screen and (max-width: 540px) {
        right: 30%;
    }

    @media screen and (max-width: 400px) {
        right: 25%;
    }
}

.nav {
    margin-left: calc(50% - 455px / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 455px;
}

.call {
    margin-right: 12%;

    @media screen and (max-width: 900px) {
        margin-right: 5%;
    }
}

.burgerContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 26px;
}

.burger, .burger:before, .burger:after {
    background-color: #000;
    width: 32px;
    height: 2px;
    transition: background-color 0.2s ease-in-out;
}

.burger {
    position: relative;
}

.burger:before, .burger:after {
    content: "";
    position: absolute;
}

.burger:before {
    top: -10px;
}

.burger:after {
    position: absolute;
    bottom: -10px;
}