.container {
    width: 100%;
    padding: 15px 0;
    background: #1b1b1b;
    display: flex;
    justify-content: center;
}

.border {
    flex: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        flex: none;
        width: 80%;
    }
}

.textContainer {
    width: 56%;
    height: 225px;
    color: #fff;
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 390px;
        flex-direction: column;
        justify-content: center;
    }
}

.text {
    margin: 0 10px;
    text-align: center;

    @media screen and (max-width: 768px) {
        margin: 0;
    }
}

.comma {
    font-family: "Cormorant Garamond", serif;
    font-size: 96px;
    margin-bottom: 75px;

    @media screen and (max-width: 768px) {
        margin: 0 auto -40px 0;
    }
}

.commaUp {
    transform: rotateZ(180deg);
    margin-bottom: 0;
    margin-top: 85px;

    @media screen and (max-width: 768px) {
        margin: -40px 0 0 auto;
    }
}
