.sliderWrap {
    padding: 100px 0 90px;
}

.sliderTitle {
    margin: 0 0 40px 140px;

    @media screen and (max-width: 768px) {
        margin: 0 auto 40px;
        text-align: center;
    }
}

.runningLine {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 105px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.2s ease;
    padding: 20px;

    &:hover {
        background-color: #8b1e3f;
        color: #fff;
    }

    @media screen and (max-width: 768px) {
        height: 64px;
    }
}

.line {
    display: flex;
    gap: 10px;
    align-items: center;
    animation: run 20s linear infinite;
    white-space: nowrap;

    @media screen and (max-width: 768px) {
        animation: runMobile 20s linear infinite;
    }
}

@keyframes run {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-110%);
    }
}

@keyframes runMobile {
    0% {
        transform: translateX(40%);
    }
    100% {
        transform: translateX(-40%);
    }
}

.conclusion {
    height: 270px;
    background: #1b1b1b;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
        padding: 0 25px;
    }
}

.conclusionText {
    width: 600px;
    color: #fff;
    text-align: center;

    @media screen and (max-width: 768px) {
        width: 60%;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}
