.title {
    margin: 100px auto 40px;
    width: max-content;

    @media screen and (max-width: 768px) {
        margin-top: 50px;
    }
}

.text {
    width: 48%;
    margin: 0 auto 100px;
    text-align: center;
}
