.container {
    display: flex;
    gap: 45px;
    border-top: 1px solid #000;
}

.secondaryContainer {
    flex: 1;
    padding-left: 140px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.description {
    padding-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listItem {
    display: flex;
    gap: 10px;
}

.img {
    flex: 1;
}
