.container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;

    &:first-of-type {
        align-items: center;
        margin-bottom: 75px;
        margin-top: 55px;
    }
}

.titleContainer {
    width: 435px;
}

.title {
    margin-bottom: 40px;
}

.gallaryContainer {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.advantagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
