.title {
    margin: 0;
    line-height: 1;
}

.h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 58px;
    font-weight: 700;
}

.h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 48px;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
}
