.container {
    padding: 100px 135px;
    border-bottom: 1px solid #000;

    @media screen and (max-width: 768px) {
        padding: 55px 40px;
    }
}

.title {
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
        width: 70%;
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 60px;

    @media screen and (max-width: 768px) {
        margin: 0 auto;
        flex-direction: column;
        row-gap: 125px;
        width: 240px;
    }
}

.delimiter {
    position: absolute;
    display: flex;
    align-items: center;
    top: 55px;
    left: -50px;

    > span {
        margin-right: -1px;
        display: inline-block;
        height: 1px;
        width: 100px;
        background: #000;

        @media screen and (max-width: 768px) {
            width: 75px;
        }
    }

    @media screen and (max-width: 1080px) {
        left: -80px;
    }

    @media screen and (max-width: 768px) {
        left: 30%;
        top: -70px;
        transform: rotateZ(90deg);
    }
}

.right {
    left: unset;
    right: -60px;

    @media screen and (max-width: 1080px) {
        right: -80px;
    }

    @media screen and (max-width: 768px) {
        right: unset;
        top: 260px;
    }
}

.service {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    text-align: center;
    margin-bottom: 20px;
}

.servicesTitle {
    text-align: center;
}

.text {
    text-align: center;
}
