.button {
    padding: 15px 20px;
    width: max-content;
    border: 1px solid #000;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    background: #fcfbf7;
    transition: background-color .2s ease-in-out ;

    &:hover {
        cursor: pointer;
        background-color: #8b1e3f;
        border-color: #8b1e3f;
        color: #fff;
    }

    &:disabled {
        background-color: #0009;
        cursor: not-allowed;

        &:hover {
            background-color: #0009;
        }
    }
}

.secondary {
    background-color: #000;
    color: #fff;

    &:hover {
        background-color: #0009;
    }
}
