.wrapper {
    overflow-x: scroll;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }
}

.slider {
    overflow-x: scroll;
    display: flex;
    gap: 10px;
    width: max-content;
    margin-bottom: 60px;
}

.slide {
    position: relative;
    width: calc(100vw * 0.25);
    height: 608px;
    max-width: 293px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1000px) {
        width: calc(100vw * 0.33);
        max-width: unset;
    }

    @media screen and (max-width: 768px) {
        width: calc(100vw * 0.50);
    }

    @media screen and (max-width: 480px) {
        width: 100vw;
    }
}

.img {
    position: relative;
    width: 100%;
    height: 560px;
    margin-bottom: 20px;
}

.description {
    opacity: 0;
    position: absolute;
    inset: 0;
    bottom: 48px;
    display: flex;
    align-items: flex-end;
    padding: 50px 40px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(to bottom, #fdfbf700 40%, #1b1b1be6);
    color: #fff;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.scrollWrap {
    height: 20px;
    width: max-content;
    margin: 0 auto;
}

.scroll {
    --scroll-width: "";
    --offset: "";
    margin: 0 auto;
    position: relative;
    height: 2px;
    width: 305px;
    border-radius: 1px;
    background: #00000080;

    @media screen and (max-width: 768px) {
        width: 205px;
    }

    &:after {
        position: absolute;
        border-radius: 2px;
        top: -1px;
        width: var(--scroll-width);
        left: var(--offset);
        transition: left .2s ease-in;
        content: "";
        height: 4px;
        background: #000;
    }
}
