.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    padding: 0 40px 50px 135px;
}

.welcome {
    width: 460px;
    z-index: 1;
}

.title {
    margin-bottom: 40px;
}

.text {
    width: 315px;
    margin-bottom: 60px;
}

.imgWrapper {
    display: flex;
    width: 565px;
    height: 735px;
    position: relative;
}

.heroImg1 {
    position: absolute;
    bottom: 40px;
    left: -28px;
    height: 590px;
    width: 262px;
    background-image: url("./assets/hero-1.png");
    background-repeat: no-repeat;
    border-right: 1px solid #000;
    background-position-y: 90%;
}

.heroImg2 {
    position: absolute;
    bottom: 88px;
    left: 233px;
    height: 505px;
    width: 190px;
    background-image: url("./assets/hero-2.png");
    background-repeat: no-repeat;
    border-right: 1px solid #000;
}

.heroImg3 {
    position: absolute;
    bottom: 45px;
    left: 423px;
    height: 590px;
    width: 130px;
    background-image: url("./assets/hero-3.png");
    background-repeat: no-repeat;
    background-position-y: 95%;
}
